/*Фон – як на макеті*/
.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, #a7d0db 0%, #6ea3b4 40%, #3c6c80 100%);
}

/* Карточка */
.login-card {
    width: 400px;
    padding: 70px 40px 40px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(14px);
    border-radius: 12px;
    position: relative;
    text-align: left;
    box-shadow: 0 10px 40px rgba(0,0,0,0.25);
}

/* Аватар */
.avatar {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #0b2d4a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    width: 65px;
    opacity: 0.95;
}

/* LABEL + ICON */
.input-group {
    margin-top: 35px;
}

label {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #e9f4ff;
    gap: 8px;
}

.icon {
    width: 18px;
    height: 18px;
    display: block;
}

/* Inputs */
.input-group input {
    width: 100%;
    padding: 12px 5px;
    border: none;
    border-bottom: 1px solid #d4e8ff55;
    background: transparent;
    color: #e6f3ff;
    font-size: 16px;
    margin-top: 8px;
    outline: none;
}

/* Options row */
.options {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.remember {
    font-size: 14px;
    color: #e6f3ffcc;
}

.forgot {
    font-size: 14px;
    color: #e6f3ffdd;
    text-decoration: none;
}

/* Button */
.login-btn {
    width: 100%;
    background: #0b2d4a;
    padding: 15px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #072133;
}