.background {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #86b3c6, #3f798b);
}

.login-card {
    width: 350px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    position: relative;
    text-align: left;
}

.avatar {
    width: 90px;
    height: 90px;
    background: #0b3954;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
}

.avatar img {
    width: 45px;
    opacity: 0.9;
}

.input-group {
    margin-top: 50px;
}

label {
    font-size: 14px;
    color: #fff;
}

.input-group input {
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid #ffffffa8;
    background: transparent;
    color: #fff;
    outline: none;
    margin-bottom: 25px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember {
    font-size: 13px;
    color: #fff;
}

.forgot {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}

.login-btn {
    width: 100%;
    background: #0b3954;
    padding: 12px;
    border: none;
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.login-btn:hover {
    background: #092d42;
}